# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/
gradle-*
secring.gpg
id_rsa_travis
keys.tar

# IntelliJ
*.iml
.idea
lib/
# Eclipse
.project
.classpath

# VSCode
.history
.vscode

.settings
!/hs_err_pid25907.log
